<table class="table subforum table-striped" ng-repeat='category in categories' ng-show='categories.length > 0'>
  <thead>
    <tr>
      <th class="cell-stat"></th>
      <th>
        <h2>{{ category.category }}</h2>
        <span class="category-description">{{ category.description }}</span>
      </th>
      <th class="cell-stat text-center">Topics</th>
      <th class="cell-stat text-center">Posts</th>
      <th class="cell-stat-2x">Last Post</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat='subforum in category.subforums'>
      <td class="text-center"><i class="glyphicon glyphicon-folder-open folder-icon text-primary lead"></i></td>
      <td>
        <h4>
          <a ng-href='/forum/{{ subforum.subforum_slug }}?page=1'>{{ subforum.subforum }}</a>
          <br/><small class="subforum-description">{{ subforum.description }}</small>
        </h4>
      </td>
      <td class="text-center"><a ng-href='/forum/{{ subforum.subforum_slug }}?page=1'>{{ subforum.threads_count }}</a></td>
      <td class="text-center"><a ng-href='/forum/{{ subforum.subforum_slug }}?page=1'>{{ subforum.posts_count }}</a></td>
      <td>
        <span ng-if="subforum.posts_count">
          by <a ng-href='/user/{{ subforum.last_post_author }}'>{{ subforum.last_post_author }}</a><br>
          <small><i class="glyphicon glyphicon-time"></i> {{ subforum.last_post_publish | date: 'yyyy-MM-dd, h:mm a' }}</small>
        </span>
      </td>
    </tr>
  </tbody>
</table>

<div class="well text-center" ng-if='categories.length == 0'>
  <h4><i class="glyphicon glyphicon-info-sign"></i> No Categories found</h4>
</div>