<div class="row">
  <h2 class="text-center">Register</h2>
  <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <form role="form" ng-submit='doRegister(user)'>
          <div class='alert alert-danger' ng-show='registerError.non_field_errors'>
              <span ng-repeat='error in registerError.non_field_errors'>
                  {{ error }} <br/>
              </span>
          </div>
          <div class="form-group" ng-class="{'has-error': registerError.username }">
            <label for="username" class="sr-only">Username</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
              <input type="text" ng-model='user.username' class="form-control" id="username" placeholder="Username">
            </div>
            <label class="control-label" for="username" ng-if='registerError.username'>
              <span ng-repeat='error in registerError.username'>
                {{ error }}<br/>
              </span>
            </label>
          </div>
          <div class="form-group" ng-class="{'has-error': registerError.email }">
            <label for="email" class="sr-only">Email</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
              <input type="email" ng-model='user.email' class="form-control" id="email" placeholder="Email">
            </div>
            <label class="control-label" for="email" ng-if='registerError.email'>
              <span ng-repeat='error in registerError.email'>
                {{ error }}<br/>
              </span>
            </label>
          </div>
          <div class="form-group" ng-class="{'has-error': registerError.password }">
            <label for="password" class="sr-only">Password</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
              <input type="password" ng-model='user.password' class="form-control" id="password" placeholder="Password">
            </div>
            <label class="control-label" for="password" ng-if='registerError.password'>
              <span ng-repeat='error in registerError.password'>
                {{ error }}<br/>
              </span>
            </label>
          </div>
          <div class="form-group" ng-class="{'has-error': registerError.password2 }">
            <label for="password2" class="sr-only">Confirm Password</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
              <input type="password" ng-model='user.password2' class="form-control" id="password2" placeholder="Confirm Password">
            </div>
            <label class="control-label" for="password2" ng-if='registerError.password2'>
              <span ng-repeat='error in registerError.password2'>
                {{ error }}<br/>
              </span>
            </label>
          </div>
          <input type="submit" value='Register' class="btn btn-success btn-sm" />
        </form>
      </div>
    </div>
  </div>
</div>